{% extends "base.html" %}
{% block content %}
<h2>Add Album</h2>
<form method="post">
    <label>Album Title:</label><input type="text" name="albumtitle"><br>
    <label>Release Year:</label><input type="number" name="releaseyear"><br>

    <label>Band:</label>
    <select name="bandid" multiple>
        {% for band in bands %}
        <option value="{{ band.BandID }}">{{ band.BandName }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Save</button>
</form>
{% endblock %}